@font-face {
  font-family: "monkey";
  src: url(../font/monkey/monkey.otf);
}

@font-face {
  font-family: "cursive";
  src: url(../font/cursive/Cursivestandard.ttf);
}

main {
  display: flex;
flex-direction: column;
width: 50%;
align-items: center;

}

main p {
 font-family: "cursive";
 font-size: 20px;
}

body h1 {
  font-family: "monkey";
}


.images {
  display: inline-flex;
}

.images img {
  width: 120px;
}
